PORT=5000

DATABASE_URL=postgresql://username:password@db.your-project-ref.supabase.com:6543/postgres?pgbouncer=true
MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/database_name?retryWrites=true&w=majority
SESSION_URL=postgresql://username:password@db.your-project-ref.supabase.com:5432/postgres

JWT_SECRET=your_jwt_signing_secret

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin_password
TEST_USER_EMAIL=testuser@example.com
TEST_USER_PASSWORD=test_user_password

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_email
SMTP_PASS=your_smtp_password
EMAIL_FROM="Lionera <no-reply@Lionera.com>"

WEBHOOK_SECRET=your_webhook_here
APP_URL=https://project5-final-backend.vercel.app

ADMIN_ALERT_EMAIL=admin@example.com
LOW_STOCK_THRESHOLD=5

REVIEW_SERVICE_URL=https://project5-final-review-microservice.vercel.app
NOTIFICATION_SERVICE_URL=https://project5-final-notification-microservice.vercel.app

CRON_SECRET=your_secret_here