DATABASE_URL="postgresql://username:password@localhost:5432/"notificationService"?schema=public"
PORT=5002

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
EMAIL_FROM="Lionera <no-reply@Lionera.com>"

WEBHOOK_SECRET=your_shared_webhook_secret

CRON_SECRET=your_secret_here